.logo{
    /* background-color: aqua; */
    width: 150px;
    /* margin-left: 20px;
    margin-top: 20px;
    padding: 8px; */
    float: left;
}
img{
    width: 150px;
    height: 50px;
}
.home{
float: left;
margin-left: 20px;
margin-top: 20px;
text-align:start;
font-size: x-large;
width: 150px;
height: 50px;
padding: 20px;
}
.login{
    margin-left: 300px;
    float: left;
    margin-top: 20px;
    text-align:start;
    font-size: x-large;
    width: 30px;
    height: 50px;
    padding: 20px;  
}
.search{
    float: left;
    margin-top: 20px;
    text-align:start;
    font-size: x-large;
    width: 50px;
    height: 50px;
    padding: 20px; 
}
.search_Bar{
    margin-left: 900px;
}

