.left_Arrow{
    float: left;
    margin-left: 20px;
}
.right_Arrow{
    float: left;
    margin-left: 20px;
}
.refresh{
    float: left;
    margin-left: 20px;
}
.typing_Bar{
    float: left;
}
#bar{
    border-radius: 50px;
    margin-left: 20px;
    width: 1100px;
}
#img{
    width: 25px;
    height: 25px;
}
#image{
    width: 80px;
    height: 25px;
}
.symbol1{
    float: left;
    margin-left: 20px;
}
.symbol2{
    float: left;
    margin-left: 20px;
}
.symbol3{
    float: left;
    margin-left: 20px;
}
.mail{
    clear:both;
    float: left;
    margin-left: 20px;
}
.youtube{
    float: left;
    margin-left: 20px;
}
.maps{
    float: left;
    margin-left: 20px;
}
.myplacee{
    float: left;
    margin-left: 20px;
}